<div ng-cloak>
    <div class="row">
        <div >
            <div class="col-md-10">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Your daily expenses for {{today}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div class="col-md-12">
                            <div class="col-md-5 ex-expenses" ng-repeat="exp in expenses">
                                <div class="col-md-2">
                                    <div class="icon" ng-class="colorIcon($index)">{{exp.category.charAt(0)}}</div>
                                </div>
                                <div class="col-md-6" style="margin-top:7px; text-align:left;">
                                     <span>{{exp.category}}</span> - <span>{{exp.amount}} RON</span>
                                    <i class="glyphicon glyphicon-remove" style="margin-left: 10px;" ng-click="remove(exp)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ex-total-expenses">
                            <span class="label label-primary">Total {{totalExpenses}} RON</span>
                            {{message}}
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-md-10">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Register new expense</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div class="col-md-3">
                            <md-input-container style="width:100%;">
                                <label>Name</label>
                                <input input md-maxlength="30" required md-no-asterisk name="name" ng-model="expense.name">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container style="width:100%;">
                                <label>Description</label>
                                <input input md-maxlength="30" required md-no-asterisk name="description" ng-model="expense.description">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container style="width:100%;">
                                <label>Amount</label>
                                <input input md-maxlength="30" required md-no-asterisk name="amount" ng-model="expense.amount">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container style="width:100%;">
                                <label>Category</label>
                                <md-select ng-model="expense.category">
                                    <md-option ng-repeat="i in categories" value="{{i}}">
                                        {{i}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-button ng-click="register()">Register</md-button>
                        </div>
                        <div class="col-md-12" ng-if="successMessage">
                            <span class="label label-success">{{successMessage}}</span>
                        </div>
                        <div class="col-md-12" ng-if="errorMessage">
                            <span class="label label-dange">{{errorMessage}}</span>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
